In [93]:
import numpy as np 
import pandas as pd 
import os

In [94]:
# Paths
BASE_DIR = '../'
LGBM = os.path.join(BASE_DIR, "LGBM/prediccion.csv")
Promedio= os.path.join(BASE_DIR, "Dataset/df_12meses_avg.csv")
LGBM_clase=os.path.join(BASE_DIR, "LGBM/prediccion (0_269).csv") 
LGBM_GPU = os.path.join(BASE_DIR, "LGBM/prediccion_lgbm_gpu.csv")
Regresion_L=os.path.join(BASE_DIR, "LGBM/predicciones_201902_reg_lineal2.csv")

In [95]:
# Datos Tabulares
df1 = pd.read_csv(LGBM)
df2= pd.read_csv(Promedio)
df3= pd.read_csv(LGBM_clase)
df4= pd.read_csv(LGBM_GPU)
df5= pd.read_csv(Regresion_L)

In [96]:
df1.head()

   product_id           tn
0       20001  1623.852832
1       20002  1238.299737
2       20003   707.044906
3       20004   567.090490
4       20005   536.373309

In [97]:
df2.head()

   product_id           tn
0       20001  1454.732720
1       20002  1175.437142
2       20003   784.976407
3       20004   627.215328
4       20005   668.270104

In [98]:
df3.head()

   product_id           tn
0       20001  1582.165992
1       20002  1179.451613
2       20003   633.528487
3       20004   525.096322
4       20005   546.940110

In [99]:
# concatenar los dos DataFrames
df = pd.concat([df4, df2,df3,df5])

# agrupar por product_id y calcular promedio
df_promedio = df.groupby('product_id', as_index=False)['tn'].mean()

print(df_promedio)

     product_id           tn
0         20001  1446.128403
1         20002  1209.838608
2         20003   705.611372
3         20004   576.465132
4         20005   590.809686
..          ...          ...
775       21263     0.527810
776       21265     0.387806
777       21266     0.327772
778       21267     0.402697
779       21276     0.370889

[780 rows x 2 columns]

In [100]:
df_promedio.to_csv('prediccion_ensemble.csv', index=False)

In [101]:
# combinamos todo en un solo DataFrame
df_comb = (
    df1.rename(columns={'tn': 'tn_df1'})
    .merge(df2.rename(columns={'tn': 'tn_df2'}), on='product_id')
    .merge(df3.rename(columns={'tn': 'tn_df3'}), on='product_id')
)

# calculamos el promedio de tn_df1 y tn_df3
df_comb['promedio_1y3'] = df_comb[['tn_df1', 'tn_df3']].mean(axis=1)

# diferencia porcentual en valor absoluto
df_comb['diff_pct_df2_vs_prom'] = (
    100 * (df_comb['tn_df2'] - df_comb['promedio_1y3']) / df_comb['promedio_1y3']
).abs()

# ordenamos por mayor diferencia
df_result = df_comb.reindex(columns=[
    'product_id', 'tn_df1', 'tn_df2', 'tn_df3', 'promedio_1y3', 'diff_pct_df2_vs_prom'
]).sort_values(by='diff_pct_df2_vs_prom', ascending=False)

In [102]:

df_result.head(30)

,product_id,tn_df1,tn_df2,tn_df3,promedio_1y3,diff_pct_df2_vs_prom
618,20886,1.856347,3.522517,0.721215,1.288781,173.321656
633,20919,0.727425,0.947063,0.000000,0.363713,160.387511
192,20236,58.632231,97.616042,35.602598,47.117415,107.176142
595,20835,2.961998,5.786993,2.625595,2.793797,107.137243
770,21248,1.725281,0.025992,0.369185,1.047233,97.518063
772,21256,1.674316,0.025173,0.342966,1.008641,97.504233
560,20772,4.673902,9.344477,4.805692,4.739797,97.149314
775,21263,1.722210,0.029993,0.370596,1.046403,97.133674
774,21262,1.296541,0.027169,0.223423,0.759982,96.425025
773,21259,1.317186,0.029876,0.344378,0.830782,96.403890
769,21246,1.315537,0.033524,0.226246,0.770892,95.651248
508,20684,1.044833,2.793146,1.817496,1.431165,95.165938
779,21276,1.305521,0.045447,0.329705,0.817613,94.441501
767,21244,0.920845,0.036112,0.220601,0.570723,93.672642
751,21192,1.243296,0.056067,0.249595,0.746446,92.488849
768,21245,0.757719,0.055020,0.285102,0.521410,89.447852
776,21265,1.366452,0.089541,0.287292,0.826872,89.171118
761,21218,0.788950,0.055985,0.243053,0.516001,89.150220
590,20827,3.345610,6.934789,3.997204,3.671407,88.886420
778,21267,1.304544,0.092835,0.336472,0.820508,88.685669
777,21266,1.373217,0.094659,0.288421,0.830819,88.606543
747,21182,1.074944,0.104493,0.452676,0.763810,86.319460
760,21214,5.075661,0.411062,0.570848,2.823254,85.440118
512,20691,12.918337,19.807270,8.535333,10.726835,84.651574
583,20817,3.569563,6.432487,3.416155,3.492859,84.161077
763,21224,0.773886,0.091374,0.336897,0.555392,83.547792
746,21180,1.166555,0.126549,0.330182,0.748369,83.089995
764,21226,1.307607,0.143262,0.358823,0.833215,82.806057
758,21209,1.304080,0.141324,0.315765,0.809923,82.550903
766,21233,0.768733,0.099867,0.296653,0.532693,81.252342